
img{
    height: 50px;
    opacity: 2;

}
li {    
     display: inline-block;
    
}
.l-main-nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    padding: 0 11.25%;
}

.a-main-nav{
    padding: .5em;
    display: inline;
    color: silver;
    font-size: 1.05em;
    text-decoration: none;
    
}
.a-main-nav:hover {
    background-color: rgba(255,255,255, 3);
}
h1 {
    text-align: center;
    
    color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    position: relative;bottom: 170px;top: 10px;
    
}


body {
    
        background: #000000;
        opacity: 1;
    
    background-image: url("../images/pexels-egil-sjøholt-1906658.jpg");
    background-size: cover; 
}
.linkimage,.linkimageap{
    height: 100px;
    width: 180px;
   
   
    position: relative;bottom: 400px;left: 120px;top: -75px;
    transition: 2s;

}
.linkimageu{
    height: 150px;
    width: 270px;
   
   
    position: relative;bottom: 400px;left: 175px;top: -50px;
    transition: 2s;
}
.linkimage:hover,.linkimageu:hover,.linkimageap:hover{
    transform: rotate(360deg) 
     translateX(-1mm);
}

.bandimage {
        height: 600px;
        width: 1000px;
        
        position: relative;bottom:300px;right: 100px;top: 0px;left: 125px;      
}

.s1{
    font-size: 1.1cm;
    color: gold;
    position: relative;bottom:100px;left:170px ;
    opacity: 70%;
}
.s1image{
    height: 200px;
    width: 200px;
    position: relative;bottom:105px;left:170px ;
}
.s2{
    font-size: 1.1cm;
    color: gold;
    position: relative;bottom:355px;left:829px ;
    opacity: 70%;
}
.s2image{
    height: 200px;
    width: 200px;
    position: relative;bottom:360px;left:800px ;
}
.s3{
    font-size: 1.1cm;
    color: gold;
    position: relative;bottom:350px;left:120px ;
    opacity: 70%;
    
}
.s3image{
    height: 200px;
    width: 200px;
    position: relative;bottom:353px;left:170px ;
}
.s4{
    font-size: 1.1cm;
    color: gold;
    position: relative;bottom:605px;left:780px;
    opacity: 70%;
}
.s4image{
    height: 200px;
    width: 200px;
    position: relative;bottom:610px;left:800px ;
}
.s5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1cm;
    color: gold;
    position: relative;bottom:600px;left:490px;
    opacity: 70%;
}
.s5image{
    height: 200px;
    width: 200px;
    position: relative;bottom:605px;left:490px ;
}
.mainpagebutton{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;left:550px ;top:80px; 
    transition: 5s;
    border-radius: 5mm;
}
.s1image,.s2image,.s3image,.s4image,.s5image{
    transition: 1s;
    
}
.mainpagebutton:hover{
    height: 25px;
    width: 195px;
    background:lightyellow; 
}
.a-mainpagebutton{
    text-decoration: none;
    color: black;
}
.s1image:hover{
    height: 220px;
    width: 220px; 
       
}
.s2image:hover{
    height: 220px;
    width: 220px; 
     
}
.s3image:hover{
    height: 220px;
    width: 220px; 
}
.s4image:hover{
    height: 220px;
    width: 220px; 
}
.s5image:hover{
    height: 220px;
    width: 220px; 
}

.f{
    position: relative;right: 500px;
}
.maintable,th,td{ 
    column-count: 2;
    align-content: left;
    transition: 1s;
    transform: scale3d(2px,2px,2px);
    position: relative;left: 10px;
    border-spacing: 200px 30px;
}

.ww,.friends{
    font-family: Arial, Helvetica, sans-serif; 
    color:lightskyblue;
    font-size: 270%;
    font-style: inherit;
}
.wwhead,.friendshead{
    font-size: 290%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: inherit;
    color: lightskyblue;
    align-content: space-around;
    position: relative;left:30px
}

.insta{
    height: 60px;
    width: 100px;
    transition: 2s;
}
.utube{
    height: 100px;
    width: 150px;
    position: relative;top: 20px; right: 50px;
    transition: 2s;
}
.insta:hover,.utube:hover{
    transform: rotatey(360deg);
}
.wwbrackets{
    color: lightskyblue;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif ;
}

@media all and (min-width: 1000px){
   .h1 {
       width: 100%;
}
   .bandimage{
       width: 80%;
   }
  
   }

@media all and (max-width:999px) and (min-width:744px){
    .bandimage{
        width: 70%;
    }
    .linkimage,.linkimageap{
      height: 60px;
      width: 60px;
         }
         .linkimageu{
            width:120px;
            height: 100px ;
            position: relative;left:140px;top: -55px;
        }    
  .s1,.s1image,.s3,.s3image,.s5,.s5image{
     
      position: relative;left: 5px;
  }
   .s2,.s2image{
       
       position: relative;top: 500px;left: 5px;
   }
    .s4,.s4image{
        
       position: relative;top: 250px;left: 5px;
    }
    .maintable{
        border-spacing: 50px 20px;
        position: relative;right: 50px
    } 
    body{
        background-size: cover; 

    }
    }
@media all and (max-width:743px) and (min-width:368px){
    .bandimage{
        width :90%;
        offset-position: 10px;
        position: relative;left: 20px;
    } 
    .linkimage,.linkimageap{
        width: 60px;
        height: 60px;
        position: relative;left:15px ;
    }
    .linkimageu{
        width:120px;
        height: 100px ;
        position: relative;left:40px;top: -55px;
    }
    .mainpagebutton{
        position: relative;left: 5px;}
        .s1,.s1image,.s3,.s3image,.s5,.s5image{
     
            position: relative;left: 5px;
        }
         .s2,.s2image{
             
             position: relative;top: 500px;left: 5px;
         }
          .s4,.s4image{
              
             position: relative;top: 250px;left: 5px;
          }  
          .l-2-nav li{
            display: inline;
        }
        .maintable{
            
            border-spacing: 2px 0.5px;
            position: relative;right: 30px;
           
        } 
        .wwhead,.wwbrackets,.ww,.friendshead,.friends{
            font-size: 100%;
        }
    }
        
@media all and (max-width:367px) and (min-width:299px){
    .bandimage{
       width :90%;
        offset-position: 10px;
        position: relative;left: 20px;       
                }
    .linkimage,.linkimageap{
        width: 60px;
        height: 60px;
        position: relative;left:-80px ;
        
    }  
    .linkimageu{
        width:120px;
        height: 100px ;
        position: relative;left:-50px;top: -55px;
    }     
    .mainpagebutton{
        position: relative;left: 5px;}  
        .s1,.s1image,.s3,.s3image,.s5,.s5image{
     
            position: relative;left: 5px;
        }
         .s2,.s2image{
             
             position: relative;top: 500px;left: 5px;
         }
          .s4,.s4image{
              
             position: relative;top: 250px;left: 5px;
          }   
          .l-2-nav li{
            display: inline;
        } 
        .maintable{
            border-spacing: 20px 20px;
            position: relative;right: 20px
        } 
        .wwhead,.wwbrackets,.ww,.friendshead,.friends{
            font-size: 100%;
        }
        .insta,.utube{
            height:50px;
            width: 50px;
        }
        .insta:hover,.utube:hover{
            height: 30px;
            width: 30px;
        }
        .linkimageap{
        width: 60px;
        height: 60px;
        position: relative;left:170px;top:-140px;;
        }
}
.allmusic{
    position: relative;left: 10px;
}
.s1image,.s2image,.s3image,.s4image,.s5image{
    border: black;
}
.s1,.s2,.s3,.s4,.s5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
